
.oe_kanban_project_avatars img {
    width: 30px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.oe_form_gantt_avatars:after {
  font-family: "mnmliconsRegular" !important;
  font-size: 21px;
  font-weight: 300 !important;
  content: "y";
  top: 3px;
  position: relative;
}

.openerp .oe_kanban_view .oe_kanban_project {
  width: 250px;
  min-height: 160px !important;
  cursor: default;
}

.openerp .oe_percent strong:after {
  content: "%";
}

.openerp .oe_margin_top_8 {
  margin-top: 8px;
}
.openerp .oe_kanban_project .oe_kanban_project_list .col-md-6 a{
  margin-left: 5px;
}
